@model EntityLayer.Concrete.Notification

@{
    ViewData["Title"] = "AddNotification";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Yeni Bildirim Oluştur</h1>
<br />
<form method="post" action="/Admin/AdminNotification/AddNotification/">
    @Html.Label("Bildirim Başlığı")
    @Html.TextBoxFor(x => x.Type, new { @class = "form-control", @required = "" })
    <br />
    @Html.Label("Bildirim Detayı")
    @Html.TextAreaFor(x => x.Details, 10, 3, new { @class = "form-control", @required = "" })
    <br />
    <button class="btn btn-info">Bildirim Oluştur</button>
</form>