
@using EntityLayer.Concrete
@model List<Message2>

@{
    ViewData["Title"] = "SendBox";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Giden Kutusu</h1>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Konu</th>
        <th>Alıcı</th>
        <th>Tarih</th>
        <th>Mesajı Aç</th>
    </tr>
    @foreach (var item in Model.OrderByDescending(x=>x.ID))
    {
        <tr>
            <th>@item.ID</th>
            <td>@item.Subject</td>
            <td>@item.ReceiverUser.NameSurname</td>
            <td>@(((DateTime)item.Date).ToString("dd MMM yyyy HH.mm"))</td>
            <td><a href="/Message/SenderMessageDetails/@item.ID" class="btn btn-warning">Mesajı Aç</a></td>
        </tr>
    }
</table>
<a href="/Message/SendMessage/" class="btn btn-info">Yeni Mesaj Oluştur</a>

