
@model CoreDemo.Models.RoleUpdateViewModel

@{
    ViewData["Title"] = "UpdateRole";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Rol Düzenleme Sayfası</h1>

<form method="post">
    @Html.HiddenFor(x=>x.id)
    <div class="form-group">
        <label>Role Başlığı</label>
        <input type="text" name="name" value="@Model.name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-info">Güncelle</button>
</form>