
@model EntityLayer.Concrete.Message2

@{
    ViewData["Title"] = "SendMessage";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>



<body>
    
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-3">
                <div class="ibox ">
                    <div class="ibox-content mailbox-content">
                        <div class="file-manager">
                            <a class="btn btn-block btn-primary compose-mail" href="/Admin/AdminMessage/SendMessage/">Yeni Mesaj Oluştur</a>
                            <div class="space-25"></div>
                            <h5>Klasörler</h5>
                            <ul class="folder-list m-b-md" style="padding: 0">
                                <li><a href="/Admin/AdminMessage/InBox/"> <i class="fa fa-inbox "></i> Gelen Mesajlar </a></li>
                                <li><a href="/Admin/AdminMessage/SendBox/"> <i class="fa fa-envelope-o"></i> Giden Mesajlar</a></
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 animated fadeInRight">
                <div class="mail-box-header">
                    <h2>
                        Yeni Mesaj Oluştur
                    </h2>
                </div>
                <div class="mail-box">


                    <div class="mail-body">

                        <form method="post">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Alıcı:</label>

                                <div class="col-sm-10">@Html.DropDownListFor(x => x.ReceiverID, (List<SelectListItem>)ViewBag.RecieverUser, new { @class = "form-control" })</div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Konu:</label>

                                <div class="col-sm-10">@Html.TextBoxFor(x => x.Subject,new { @class = "form-control" })</div>
                            </div>
                            <div class="mail-text h-200">

                                @Html.TextAreaFor(x => x.Details, 10, 3, new { @class = "form-control" })
                                <div class="clearfix"></div>
                            </div>
                            <div class="mail-body text-right tooltip-demo">
                                <button type="submit" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top" ><i class="fa fa-reply"></i> Gönder</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>

</html>
