<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 footer-grid-agileits-w3ls text-left">
                <h3>Hakkımızda</h3>
                <p>Blog veya Weblog teknik bilgi gerektirmeden, kendi istedikleri şeyleri, kendi istedikleri şekilde yazan insanların oluşturabildikleri, günlüğe benzeyen web siteleridir. Genellikle güncelden eskiye doğru sıralanmış yazı ve yorumların yayınlandığı...</p>
                <div class="read">
                    <a href="/About/Index/" class="btn btn-primary read-m">Devamını Oku</a>
                </div>
            </div>
            <div class="col-lg-4 footer-grid-agileits-w3ls text-left">

                @await Component.InvokeAsync("BlogLast3Post")

            </div>
            <!-- subscribe -->
            <div class="col-lg-4 subscribe-main footer-grid-agileits-w3ls text-left">
                <h2>İletişim</h2>
                <ul style="list-style: none;color:#777777">
                    <li class="mx-1 mb-2">
                        <div class="facebook">
                            <i class="fas fa-map" style="color:white"></i>
                            <span class="pl-1">İstanbul, Türkiye</span>
                        </div>
                    </li>
                    <li class="mx-1 mb-2">
                        <div class="facebook">
                            <i class="fas fa-envelope" style="color:white"></i>
                            <span class="pl-1">blog@example.com</span>
                        </div>
                    </li>
                    <li class="mx-1 mb-2">
                        <div class="facebook">
                            <i class="fas fa-mobile-alt" style="color:white"></i>
                            <span class="pl-1">+90 234 567 8901</span>
                        </div>
                    </li>
                </ul>
                <!-- //subscribe -->
            </div>
        </div>
        <!-- footer -->
        <div class="footer-cpy text-center">
            <div class="footer-social">
                <div class="copyrighttop">
                    <ul>
                        <li class="mx-3">
                            <a class="facebook" href="#">
                                <i class="fab fa-facebook-f"></i>
                                <span>Facebook</span>
                            </a>
                        </li>
                        <li>
                            <a class="facebook" href="#">
                                <i class="fab fa-twitter"></i>
                                <span>Twitter</span>
                            </a>
                        </li>
                        <li class="mx-3">
                            <a class="facebook" href="#">
                                <i class="fab fa-linkedin"></i>
                                <span>LinkedIn</span>
                            </a>
                        </li>
                        <li>
                            <a class="facebook" href="#">
                                <i class="fab fa-instagram"></i>
                                <span>Instagram</span>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="w3layouts-agile-copyrightbottom">
                <p>
                    © @DateTime.Now.Year Aps.Net Core | Tüm Hakları Saklıdır
                </p>

            </div>
        </div>

        <!-- //footer -->


    </div>
</footer>